* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:focus {
  outline: 1px solid #333;
}

p {
  margin: 0;
}

body {
  margin: 0;
  background-color: #FBAB7E;
  background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
  color: #4a4a4a;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  min-height: 100vh;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 300px;
  width: 500px;
}

.todo {
  width: 100%;
}

.todo-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 4fr 1fr;
      grid-template-columns: 4fr 1fr;
  grid-gap: 20px;
}

.todo-header input {
  border-radius: 3px;
  border: none;
  font-size: inherit;
  color: inherit;
  padding: 7px;
}

.todo-header input:focus {
  border: 1px solid #2B6BEC;
  outline: none;
}

.control-btn {
  border-radius: 0px;
  border: none;
  background: #2B6BEC;
  color: #fff;
  -ms-grid-column-align: right;
      justify-self: right;
  padding: 10px 30px;
  cursor: pointer;
  border-radius: 3px;
}

.control-btn:hover {
  background: rgba(63, 127, 255, 0.993);
}

.todo-body h2 {
  text-align: center;
}

.todo-tasks__task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #fff;
  padding: 8px 75px 8px 5px;
  border-radius: 3px;
  margin: 0px 0px 10px 0px;
  position: relative;
}

.todo-tasks__task p {
  margin-left: 10px;
}

.todo-tasks__task input {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.todo-tasks__task .task-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.todo-tasks__task .task-icon:hover {
  cursor: pointer;
}

.todo-tasks__task .task-icon.delete {
  right: 10px;
  width: 25px;
  height: 25px;
  background: url(img/close.png) center/contain no-repeat;
}

.todo-tasks__task .task-icon.delete:hover {
  width: 28px;
  height: 28px;
}

.todo-tasks__task .task-icon.edit {
  right: 40px;
  width: 23px;
  height: 23px;
  background: url(img/pencil.png) center/contain no-repeat;
}

.todo-tasks__task .task-icon.edit.active {
  background: url(img/correct.png) center/contain no-repeat;
}

.todo-tasks__task .task-icon.edit:hover {
  width: 26px;
  height: 26px;
}

.todo-tasks__task-done {
  text-decoration: line-through;
  color: #999898;
}

.edit-task {
  width: 100%;
  font-size: inherit;
  color: inherit;
  border: none;
  outline: none;
  padding: 0;
  margin-left: 10px;
  border: 1px solid #bbb8b8;
}

.edit-task:focus {
  border: 1px solid #2B6BEC;
}

.todo-control {
  padding: 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px 0px 10px 0px;
  height: 25px;
}

.todo-control__buttons .control-btn {
  padding: 5px 30px;
}

.todo-control__sort {
  height: 100%;
}

.todo-control__sort-label {
  margin-right: 10px;
}

.todo-control__sort-select {
  border-radius: 3px;
  border: none;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background: #2B6BEC;
  padding: 0px 5px;
  height: 100%;
}

.todo-control__sort-select option {
  padding: 20px;
  background: #333;
}

.todo-control__sort-select * {
  padding: 12px 0px;
}

.recovery-btn {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px 15px;
  background: #2b6bec40;
  color: #fff;
  cursor: pointer;
}
